body {
	background-color: #f9f9f9;
	color: #555;
}

div{
	text-align: center;
}
.btn {
	background-color: #91f3ff;
	color: #f9f9f9;
	border: 1px solid #79dfff;
	border-radius: 3px;
	padding: 2px 4px;
}